.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color: rgb(184, 182, 182);
  background: rgb(219, 165, 117);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#webdev-page {
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color: rgb(68, 67, 67)
}

#webdev-page h2 {
  text-align: center;
}

#webdev-page h4 {
  padding: 10px
}

.banner {
  position: relative;
  background: white;
  opacity: 0.9;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
  top: 10px;
  padding: 20px;
  border-radius: 20px
}


.project-header {
  background: white;
  opacity: 0.9;
  padding: 15px;
  width: fit-content;
  margin: 10px auto;
  text-align: center;
  border-radius: 20px
}

.project {
  border: 5px solid white;
  border-radius: 5px;
  background: white;
  opacity: 0.9;
  margin: 10px;
  border: 1px solid rgb(13, 12, 59);
  box-shadow: 10px 10px rgb(63, 63, 63) ;
}

.project-image {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px
}

ul {
  list-style-type: none;
}

.container {
  height: 92vh;
  min-width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: lighter;
}

.home .inside {
  text-align: center;
  padding-top: 18%;
  color: white
}

.col-centered {
  float: none;
  margin: 0 auto;
  width: 60%;
}


a:hover {
  text-decoration: none;
}

.top-left {
  background-image: url('assets/House.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95
}

.top-left:hover {
  opacity: 1
}

.top-right {
  background-image: url('assets/Writing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95;
}

.top-right:hover {
  opacity: 1
}

.bottom-left {
  background-image: url('assets/Code.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95
}

.bottom-left:hover {
  opacity: 1
}

.bottom-right {
  background-image: url('assets/MountainRoad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95
}

.bottom-right:hover {
  opacity: 1
}